@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'righteous';
    src: url('font/Righteous-Regular.ttf');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body {
    width: 100%;
    height: 100vh;
    color: #424242;
    background: url('images/paper-b.svg') no-repeat center / cover;
}

.inner {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Pretendard-Regular';
}
header {
    width: 100%;
    background: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
header h1 a {
    display: inline-block;
    font-family: 'GmarketSansMedium';
    color: #424242;
    font-size: 50px;
    margin: 22px auto;
}
header h1 span.en {
    font-family: 'righteous';
    font-weight: 400;
    color: #DF9F19;
}



/* --------------------- .left --------------------- */
.left {
    width: 750px;
    position: relative;
}
/* --------------------- .num-box --------------------- */
.num-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 250px;
    display: flex;
    z-index: 1;
}
.num-box .ball {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 63px;
    
}
.num-box .ball:not(:last-child) {
    margin-right: 10px;
}
/* 福 을 누르면 행운의 번호가 팡팡! - */
.left p {                         
    font-size: 28px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
}
.left .bling-wrap {
    width: 700px;
    height: 300px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    animation: fadeinUp 500ms;
    display: none;
}
.left .light {
    width: 700px;
    height: 300px;
    object-fit: fill;
}
@keyframes fadeinUp {
    from {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    to {
        opacity: 1;
    }
}
.bling1 {
    width: 70px;
    height: 70px;
    background: url('images/bling.svg') no-repeat center / contain ;
    position: absolute;
    top: 190px;
    left: 360px;
}
.bling2, .bling3, .bling4, .bling5 {
    width: 60px;
    height: 60px;
    background: url('images/bling.svg') no-repeat center / contain ;
    position: absolute;
}
.bling6, .bling7 {
    width: 30px;
    height: 30px;
    background: url('images/bling.svg') no-repeat center / contain ;
    position: absolute;
}
.bling2 {
    top: 10px;
    left: 440px;
}
.bling3 {
    top: 50px;
    left: 80px;
}
.bling4 {
    top: 80px;
    left: 530px;
}
.bling5 {
    top: 190px;
    left: 170px;
}
.bling6 {
    top: 60px;
    left: 610px;
}
.bling7 {
    top: 100px;
    left: 260px;
}
/* --------------------- 복주머니 --------------------- */
.left .lucky-bag {
    width: 380px;
    height: 400px;
    /* margin: 410px auto 0; */
    background: url('images/bag.svg') no-repeat center / contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}
.left .lucky-bag .circle-wrap {
    width: 170px;
    height: 170px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 55px;
}
.left .lucky-bag .circle img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.left .lucky-bag .circle:hover img {
    animation: moving 1s ease-in;
}
@keyframes moving {
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
.left .lucky-bag .circle:active {
    transform: scale(0.9);
}


/* --------------------- .right --------------------- */
.right {
}
.right ul {
    width: 550px;
    height: 269px;
    background: url('images/notice.svg') no-repeat center / contain;
    text-align: center;
}
.right ul a {
    font-size: 24px;
    font-weight: 500;
    color: #424242;
}
.right ul a:hover {
    color: #30A8F5;
}
.right ul:first-child {
    margin: 170px 0 38px 0;
    padding-top: 67px;
}
.right h3 {
    font-size: 32px;
    margin-bottom: 21px;
}
.right ul:first-child li:last-child {
    margin-top: 18px;
}
.right ul:last-child {
    padding-top: 72px;
}
.right ul:last-child li:not(:first-child) {
    margin-top: 18px;
}
/* -------------------- bottom -------------------- */
.grass {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}
a.copyright {
    font-family: 'righteous';
    font-size: 14px;
    font-weight: 300;
    color: #5BA474;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/* --------------- 태블릿 구간 768 ~ 1280px --------------- */

@media screen and (min-width: 1050px) and (max-width: 1280px) {
    header h1 a {
        font-size: 45px;
    }
    .inner {
        width: 90vw;
        height: none;
        min-width: 810px;
        margin-left: 5vw;
    }
    .num-box .ball {
        width: 60px;
        height: 60px;
        font-size: 35px;
        line-height: 60px;
        
    }
    .right ul:first-child {
        margin: 190px 0 20px 0;
        padding-top: 70px;
    }
    .right ul {
        width: 450px;
    }
    .right ul h3 {
        font-size: 30px;
    }
    .right ul a {
        font-size: 22px;
    }
    .right ul:last-child {
        padding-top: 80px;
    }
}

@media screen and (min-width: 827px) and (max-width: 1049px) {
    body {
        height: 100%;
    }
    header h1 a {
        font-size: 40px;
    }
    .inner {
        display: block;
        width: 100%;
        min-width: 810px;
        margin-right: 0;
    }
    .left {
        display: block;
        position: none;
        margin: 105px 0 auto;
        width: 100%;
        height: 670px;
    }
    .left p {
        top: 120px;
    }
    .left .lucky-bag {
        bottom: 0;
    }
    .left .bling-wrap {
        top: 0;
    }
    .left .num-box {
        top: 123px;
    }
    .num-box .ball {
        width: 60px;
        height: 60px;
        font-size: 35px;
        line-height: 60px;
    }
    .right {
        width: 100%;
        padding: 3% 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .right ul {
        width: 48%;
    }
    .right ul:first-child {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 80px;
    }
    .right ul:last-child {
        padding-top: 90px;
    }
    .right ul h3 {
        font-size: 27px;
        margin-bottom: 15px;
    }
    .right ul a {
        font-size: 20px;
    }
    .right ul:first-child li:last-child {
        margin-top: 10px;
    }
    .right ul:last-child li:not(:first-child) {
        margin-top: 10px;
    }
    .footer .grass {
        position: none;
        object-fit: cover;
    }
    .footer {
        width: 100%;
        height: 153px;
        display: block;
        position: none;
        position: relative;
    }
}

@media screen and (min-width: 618px) and (max-width: 826px) {
    body {
        height: 100%;
        overflow-x: hidden;
    }
    header h1 a {
        font-size: 40px;
    }
    .inner {
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .left {
        display: block;
        position: none;
        margin: 105px 0 auto;
        width: 100%;
        height: 590px;
    }
    .left p {
        top: 120px;
        font-size: 24px;
    }
    .left .lucky-bag {
        width: 300px;
        height: 340px;
        bottom: 0;
    }
    .left .bling-wrap {
        width: 600px;
        height: 273px;
        left: 50%;
        top: 0;
    }
    .left .bling-wrap .light {
        width: 100%;
    }
    .left .bling-wrap [class ^= bling] {
        transform: scale(.8) translate(-70px, -5px);
    }
    .left .num-box {
        top: 123px;
    }
    .num-box .ball {
        width: 60px;
        height: 60px;
        font-size: 35px;
        line-height: 60px;
    }
    .right {
        display: block;
        margin: 30px auto;
    }
    .right ul {
        width: 100%;
    }
    .right ul:first-child {
        margin: 0 auto 30px;
        padding-top: 60px;
    }
    .right ul:last-child {
        margin: 0 auto;
        padding-top: 70px;
    }
    .right ul h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .right ul a {
        font-size: 24px;
    }
    .right ul:first-child li:last-child {
        margin-top: 20px;
    }
    .right ul:last-child li:not(:first-child) {
        margin-top: 20px;
    }
    .footer .grass {
        position: none;
        object-fit: cover;
    }
    .footer {
        width: 100%;
        height: 153px;
        display: block;
        position: none;
        position: relative;
    }
    .footer .copyright {
        font-size: 12px;
    }
}

/* --------------- 모바일 구간 ~ 767px --------------- */

@media screen and (max-width: 617px) {
    
    body {
        height: 100%;
        overflow-x: hidden;
    }
    header h1 a {
        font-size: 30px;
    }
    .inner {
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .left {
        display: block;
        position: none;
        margin: 100px 0 auto;
        width: 100%;
        height: 520px;
        overflow-x: hidden;
    }
    .left p {
        top: 120px;
        font-size: 22px;
    }
    .left .lucky-bag {
        width: 260px;
        height: 280px;
        position: absolute;
        bottom: 0px;
    }
    .left .lucky-bag .circle-wrap {
        width: 130px;
        height: 130px;
        position: absolute;
        left: 50%;
        top: 110px;
    }

    .left .bling-wrap {
        width: 510px;
        height: 255px;
        left: 50%;
        top: 0;
    }
    .left .bling-wrap .light {
        width: 100%;
    }
    .left .bling-wrap [class ^= bling] {
        transform: scale(.7) translate(-70px, -5px);
    }
    .left .num-box {
        top: 123px;
    }
    .num-box .ball {
        width: 53px;
        height: 53px;
        font-size: 30px;
        line-height: 53px;
    }
    .num-box .ball.ball:not(:last-child) {
        margin-right: 5px;
    }
    .right {
        display: block;
        margin: 10px auto 40px;
    }
    .right ul {
        width: 90%;
        height: 200px;
        min-width: 340px;
    }
    .right ul:first-child {
        margin: 50px auto 0;
        padding-top: 45px;
    }
    .right ul:last-child {
        margin: 0 auto;
        padding-top: 50px;
    }
    .right ul h3 {
        font-size: 26px;
        margin-bottom: 15px;
    }
    .right ul a {
        font-size: 20px;
    }
    .right ul:first-child li:last-child {
        margin-top: 13px;
    }
    .right ul:last-child li:not(:first-child) {
        margin-top: 13px;
    }
    .footer .grass {
        position: none;
        object-fit: cover;
    }
    .footer {
        width: 100%;
        height: 153px;
        display: block;
        position: none;
        position: relative;
    }
    .footer .copyright {
        font-size: 12px;
    }
}